body {
  background-color: #202020;
  color: #ffffff;
  margin: 0px 0px;
  font-family: "Helvetica Neue";
  font-size: 16px;
}

.front h1 {
  font-size: 100px;
  text-align: left;
  padding-top: 100px;
  padding-left: 200px;
  font-weight: 100;
}

.front p {
  font-size: 40px;
  margin-top: 520px;
}

a:link {
  color: #184cdb;
  text-decoration: none;
}

a:visited {
  color: #184cdb;
  text-decoration: none;
}

a:hover {
  color: #67c4fa;
  text-decoration: none;
}

header {
  background-color: black;
  height: 100px;
  text-align: center;
  margin-bottom: 30px;
}

h1 {
  font-weight: 100;
  margin: 0px 0px;
  padding-top: 30px;
  padding-left: 50px;
}

h2 {
  color: white;
  font-size: 30px;
}

.do {
  color: #67c4fa;
}

ul {
  line-height: 2em;
}

.row_home {
  display: flex;
}

.col_home {
  text-align: left;
  width: 50%;
}

.col_home p {
  padding-left: 170px;
}

.puzzle {
  padding: 0;
  margin: 0;
}

.puzzle2 {
  justify-self: center;
}

.puzzle2 img {
  width: 70%;
}

.first {
  display: flex;
  margin: 0px 130px;
}

.col {
  width: 50%;
  text-align: left;
  margin: 0px 30px;
  line-height: 1.5em;
  color: rgb(204, 204, 204);
}

.row {
  text-align: center;
}

.col img {
  margin-top: 30px;
  width: 90%;
  box-shadow: 0px 4px 20px #000000;
  border-radius: 6px;
}

.flight_num {
  margin: 30px 0px;
  text-align: center;
}

.second {
  display: flex;
  margin: 0px 190px;
}

.third {
  display: flex;
  margin: 0px 190px;
}

.col a:link {
  color: #184cdb;
  text-decoration: none;
}

.col a:visited {
  color: #184cdb;
  text-decoration: none;
}

.col a:hover {
  color: #67c4fa;
  text-decoration: none;
}

.manual {
  background-color: #ebd795;
  color: black;
  font-style: italic;
  padding: 10px 30px;
  border-radius: 10px;
}

/* modal stuff */
.modal {
  display: none;
  position: fixed;
  text-align: center;
  align-content: center;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  margin-top: 280px;
  font-size: 20px;
  text-align: center;
  background-color: #3784c2;
  width: 28%;
  border-radius: 10px;
  /* height: 120px; */
  height: 19%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 4px 10px black;
}

.right {
  padding-top: 16px;
}

#right {
  background-color: white;
  font-size: 14px;
  margin-top: 10px;
  padding: 5px 15px;
  color: #3784c2;
  border: none;
  border-radius: 9px;
}

#right:hover {
  background-color: #184cdb;
  color: white;
  cursor: pointer;
}

.close {
  color: rgb(255, 255, 255);
  float: right;
  margin-right: 16px;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #ff2566;
  text-decoration: none;
  cursor: pointer;
}

/* answer and submit */
#answer {
  padding: 3px 3px;
  margin: 0px 4px;
}

#submit_btn {
  background-color: #184cdb;
  font-size: 14px;
  padding: 5px 15px;
  color: white;
  border: none;
  border-radius: 9px;
}

#submit_btn:hover {
  background-color: #67c4fa;
  color: white;
}

/* end */
.congrats {
  margin-top: 50px;
}
.congrats h1 {
  font-size: 70px;
  margin-left: 70px;
  margin-top: 10px;
  font-weight: 100;
}

.row_end {
  display: flex;
}

.read {
  font-size: 35px;
  margin-left: 130px;
}

.read p {
  font-weight: 100;
  margin-top: 170px;
}

.playagain {
  font-size: 40px;
  margin-top: 530px;
  margin-left: 530px;
  text-align: right;
}

.congrats a {
  font-weight: 400;
}
