body {
  background-color: #202020;
  color: #ffffff;
  margin: 0px 0px;
  font-family: "Helvetica Neue";
  font-size: 16px;
}

.front h1 {
  font-size: 100px;
  text-align: left;
  padding-top: 100px;
  padding-left: 200px;
  font-weight: 100;
}

.front p {
  font-size: 40px;
  margin-top: 520px;
}

.front a:link {
  color: #db1842;
  text-decoration: none;
}

.front a:visited {
  color: #db1842;
  text-decoration: none;
}

.front a:hover {
  color: #ff91a9;
  text-decoration: none;
}

header {
  background-color: black;
  height: 100px;
  text-align: center;
  margin-bottom: 30px;
}

h1 {
  font-weight: 100;
  margin: 0px 0px;
  padding-top: 30px;
  padding-left: 50px;
}

h2 {
  /* text-align: center; */
  color: white;
  /* font-weight: 400; */
  font-size: 30px;
  /* margin-left: 160px; */
  /* font-variant: small-caps; */
}

.do {
  color: #db1842;
}

.row_home {
  display: flex;
}

.col_home {
  text-align: left;
  width: 50%;
}

.col_home p {
  padding-left: 170px;
}

.puzzle {
  padding: 0;
  margin: 0;
}

.puzzle2 {
  justify-self: center;
}

.puzzle2 img {
  width: 70%;
}

.first {
  display: flex;
  margin: 0px 130px;
}

.col {
  width: 50%;
  text-align: left;
  margin: 0px 30px;
  line-height: 1.5em;
  color: rgb(204, 204, 204);
}

.row {
  text-align: center;
}

.col img {
  margin-top: 30px;
  width: 90%;
  box-shadow: 0px 4px 20px #000000;
  border-radius: 6px;
}

.flight_num {
  margin: 30px 0px;
  text-align: center;
}

.second {
  margin: 0px 190px;
}

.third {
  display: flex;
}

/* .third col {
  margin: 0px 200px;
} */

.download a:link {
  color: #db1842;
  text-decoration: none;
}

.download a:visited {
  color: #db1842;
  text-decoration: none;
}

.download a:hover {
  color: #ff91a9;
  text-decoration: none;
}

.manual {
  background-color: #ebd795;
  color: black;
  font-style: italic;
  padding: 10px 30px;
  border-radius: 10px;
}

/* modal stuff */
.modal {
  display: none;
  position: fixed;
  text-align: center;
  align-content: center;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  margin-top: 280px;
  font-size: 20px;
  text-align: center;
  background-color: rgb(77, 77, 77);
  width: 30%;
  border-radius: 10px;
  /* height: 120px; */
  height: 18%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 4px 10px black;
}

.right {
  padding-top: 16px;
}

.next_btn {
  color: #ffffff;
}

#right {
  background-color: white;
  font-size: 13px;
  margin-top: 10px;
  padding: 5px 15px;
  color: #290c09;
  border: none;
  border-radius: 9px;
}

#right:hover {
  background-color: #db1842;
  color: white;
}

.close {
  color: rgb(255, 255, 255);
  float: right;
  margin-right: 20px;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #db1842;
  text-decoration: none;
}
