body {
  background-color: #202020;
  color: #ffffff;
  margin: 0px 0px;
  font-family: "Helvetica Neue";
  font-size: 16px;
}

.front h1 {
  font-size: 100px;
  text-align: left;
  padding-top: 100px;
  padding-left: 200px;
}

.front p {
  font-size: 40px;
  margin-top: 520px;
}

.front a:link {
  color: #db1842;
  text-decoration: none;
}

.front a:visited {
  color: #db1842;
  text-decoration: none;
}

.front a:hover {
  color: #ff91a9;
  text-decoration: none;
}

header {
  background-color: black;
  height: 100px;
  text-align: center;
  margin-bottom: 30px;
}

h1 {
  font-weight: 100;
  margin: 0px 0px;
  padding-top: 30px;
}

h2 {
  text-align: center;
  color: white;
  font-weight: 400;
  /* font-variant: small-caps; */
}

.row_home {
  display: flex;
}

.col_home {
  text-align: left;
  width: 50%;
}

.col_home p {
  padding-left: 170px;
}

.first {
  display: flex;
  margin: 0px 130px;
}

.col {
  width: 50%;
  text-align: left;
  margin: 0px 30px;
  line-height: 1.5em;
  color: rgb(204, 204, 204);
}

.col img {
  margin-top: 30px;
  width: 90%;
  box-shadow: 0px 4px 20px #000000;
  border-radius: 6px;
}

.flight_num {
  margin: 30px 0px;
  text-align: center;
}

.second {
  margin: 0px 190px;
}
